header {
  background-color: #adff2f;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0px; }

.cstHeader {
  background-color: #adff2f;
  box-shadow: 0 0.5rem 0.5rem #00000026;
  justify-items: center;
  border-radius: 15px; }

.carrito-user {
  margin-top: 5px; }

.gridTienda {
  display: grid;
  grid-template-areas: "header header header header header" ". tituloPrincipal tituloPrincipal tituloPrincipal ." ". tarjetaProducto tarjetaProducto tarjetaProducto ." "footer footer footer footer footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: 5% 30% 30% 30% 5%; }
  @media (max-width: 769px) {
    .gridTienda .gridTienda {
      grid-template-areas: "header" "tituloPrincipal" "tarjetaProducto" "footer";
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, auto);
      grid-row-gap: 5px; } }

.tarjetaProducto {
  grid-area: tarjetaProducto;
  display: grid;
  grid-template-areas: ". tarjetaProducto1 tarjetaProducto2 tarjetaProducto3 ." ". tarjetaProducto4 tarjetaProducto5 tarjetaProducto6 ." ". tarjetaProducto7 tarjetaProducto8 tarjetaProducto9 ." ". tarjetaProducto10 tarjetaProducto11 tarjetaProducto12 .";
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 5% 30% 30% 30% 5%;
  justify-content: center; }

@media (max-width: 769px) {
  .tarjetaProducto {
    grid-template-areas: "tarjetaProducto1" "tarjetaProducto2" "tarjetaProducto3" "tarjetaProducto4" "tarjetaProducto5" "tarjetaProducto6" "tarjetaProducto7" "tarjetaProducto8" "tarjetaProducto9" "tarjetaProducto10" "tarjetaProducto11" "tarjetaProducto12";
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto);
    grid-row-gap: 5px; } }

.tarjetaProducto1 {
  grid-area: tarjetaProducto1; }

.tarjetaProducto2 {
  grid-area: tarjetaProducto2; }

.tarjetaProducto3 {
  grid-area: tarjetaProducto3; }

.tarjetaProducto4 {
  grid-area: tarjetaProducto4; }

.tarjetaProducto5 {
  grid-area: tarjetaProducto5; }

.tarjetaProducto6 {
  grid-area: tarjetaProducto6; }

.tarjetaProducto7 {
  grid-area: tarjetaProducto7; }

.tarjetaProducto8 {
  grid-area: tarjetaProducto8; }

.tarjetaProducto9 {
  grid-area: tarjetaProducto9; }

.tarjetaProducto10 {
  grid-area: tarjetaProducto10; }

.tarjetaProducto11 {
  grid-area: tarjetaProducto11; }

.tarjetaProducto12 {
  grid-area: tarjetaProducto12; }

header {
  grid-area: header; }

footer {
  grid-area: footer; }

.tituloPrincipal {
  grid-area: tituloPrincipal;
  display: flex;
  flex-direction: column;
  text-align: center; }

header {
  display: flex;
  flex-direction: column; }

.tarjetaProducto {
  flex-direction: column;
  text-align: center;
  align-content: center;
  margin-top: 20px; }

.btn--facebook {
  background-color: #5858ba69; }

.btn--instagram {
  background-color: #ff000071; }

.btn--tiktok {
  background-color: #0080005a; }

footer {
  background-color: #adff2f;
  text-align: center;
  padding: 0rem;
  border-radius: 5px;
  margin-top: 0px; }

body {
  background-color: white;
  padding: 20px; }

/*------------css para header------------*/
/*--------NAVBAR--------------*/
.navbar {
  justify-items: space-evenly; }

/*-----------------FIN NAVBAR-------------*/
p {
  font-size: 20px; }

/*.row{text-align:center; margin:40px 40px 40px 40px;justify-items: space-evenly; justify-content: space-evenly;}*/
div {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #000000; }

.btn {
  display: inline-block;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 15px; }
  .btn input {
    display: inline-block;
    width: 180px;
    height: 40px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-size: 15px; }

.carousel-item img {
  width: 100%; }

.card-body {
  border-radius: 45px; }
  .card-body button {
    flex: 1 1 auto;
    width: 180px; }

img {
  border-radius: 10px; }

h2 {
  font-size: 30px;
  text-align: center; }

/*h3{font-size: 25px;margin-top: 10px; text-align:center;}*/
.shadow {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15); }

.shadow-lg {
  box-shadow: 3 1rem 5rem rgba(0, 0, 0, 0.175); }

.logo {
  box-shadow: none;
  border-radius: 0px; }

.logo2 {
  box-shadow: none;
  border-radius: 0px;
  animation: change 1.5s infinite alternate; }

@keyframes change {
  0% {
    transform: translatey(-10px); }
  100% {
    transform: translatey(10px); } }

.shadow-none {
  box-shadow: none; }

nav a {
  font-size: 20px;
  text-decoration: none;
  color: black; }

nav:hover {
  color: white;
  text-decoration: none; }

.row2 {
  align-content: center;
  margin-top: 0px;
  border-radius: 0px; }
  .row2 img {
    margin-top: 20px;
    border-radius: 0px; }

header li a {
  font-size: 20px; }

div button {
  justify-self: center; }

.op-1 {
  opacity: 10%; }

.op-2 {
  opacity: 20%; }

.op-3 {
  opacity: 30%; }

.op-4 {
  opacity: 40%; }

.op-5 {
  opacity: 50%; }

.op-6 {
  opacity: 60%; }

.op-7 {
  opacity: 70%; }

.op-8 {
  opacity: 80%; }

.op-9 {
  opacity: 90%; }

.op-10 {
  opacity: 100%; }

.cst, .cstCard, .imgWelcome, header, footer {
  background-color: #adff2f;
  box-shadow: 0 0.5rem 0.5rem #00000026;
  justify-content: space-evenly;
  margin: 10px 0px 10px 0px;
  align-content: center;
  border-radius: 15px; }

/*extend */
.cstCard {
  background-color: #9898dc;
  margin: 20px 20px 20px 20px; }
  .cstCard a {
    text-decoration: none;
    color: #ffffff; }
  .cstCard img {
    box-shadow: 0 0.5rem 0.5rem #0000006b; }

.imgWelcome {
  max-width: 100%;
  align-self: center;
  background-color: #ffffff;
  box-shadow: none; }

/*position-absolute top-50 start-50 translate-middle*/
