header {
  background-color: #adff2f;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0px; }

.cstHeader {
  background-color: #adff2f;
  box-shadow: 0 0.5rem 0.5rem #00000026;
  justify-items: center;
  border-radius: 15px; }

.carrito-user {
  margin-top: 5px; }

.cstBlog, .cstCardReview, .cstCardForm, .cstCardBlog, .csttxtCardBlog, .indice, header, footer {
  /*background-color:$bgSecundario;*/
  box-shadow: 0 0.5rem 0.5rem #00000026;
  justify-content: space-evenly;
  align-content: center;
  border-radius: 15px;
  border: solid 10px #adff2f; }

/*extend */
.cstCardReview {
  height: 200px;
  padding: 10px; }
  .cstCardReview p {
    font-size: 15px; }

.cstCardForm {
  max-width: 50rem;
  border: none;
  box-shadow: none;
  margin-bottom: 4rem; }

.cstCardBlog, .csttxtCardBlog, .indice {
  color: #000000;
  padding: 0px;
  margin-bottom: 10px;
  height: 450px; }
  .cstCardBlog a, .csttxtCardBlog a, .indice a {
    text-decoration: none;
    color: #ffffff; }
  .cstCardBlog img, .csttxtCardBlog img, .indice img {
    width: 29rem;
    height: 15rem;
    padding: 1rem 2rem 0rem 2rem; }
  .cstCardBlog h2, .csttxtCardBlog h2, .indice h2 {
    font-size: 25px;
    padding: 2rem 2rem 0rem 2rem; }
  .cstCardBlog h3, .csttxtCardBlog h3, .indice h3 {
    font-size: 20px;
    padding: 0rem 2rem 0rem 2rem; }

.indice {
  text-align: center;
  align-content: center;
  max-width: 28rem;
  max-height: 2.5rem;
  /*background-color: $bgList;*/
  justify-content: center;
  border: solid 5px #adff2f;
  margin-right: 30px;
  list-style-type: none; }
  .indice a {
    color: #000000; }
    .indice a:hover {
      border-bottom: solid 2px #000000; }
  .indice li {
    justify-items: center; }

ul li {
  list-style-type: none;
  margin-right: 10px; }
  ul li a {
    text-decoration: none;
    color: #000000; }

.titulo {
  border: solid 4px #ffffff;
  max-width: 50%;
  justify-content: center;
  color: black;
  background-color: #adff2f;
  box-shadow: 0 0.5rem 0.5rem #00000026; }

.indiceList {
  list-style-type: none;
  text-align: center;
  justify-content: center; }

.indiceProducto {
  border: solid 2px #adff2f;
  width: 100%;
  border-radius: 15px;
  margin: 5px; }

.cstCardReview {
  height: 200px;
  padding: 10px; }
  .cstCardReview p {
    font-size: 15px; }

.gridTienda {
  display: grid;
  grid-template-areas: "header header header header header" ". tituloPrincipal tituloPrincipal tituloPrincipal ." ". tarjetaProducto tarjetaProducto tarjetaProducto ." "footer footer footer footer footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: 5% 30% 30% 30% 5%; }
  @media (max-width: 769px) {
    .gridTienda .gridTienda {
      grid-template-areas: "header" "tituloPrincipal" "tarjetaProducto" "footer";
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, auto);
      grid-row-gap: 5px; } }

.tarjetaProducto {
  grid-area: tarjetaProducto;
  display: grid;
  grid-template-areas: ". tarjetaProducto1 tarjetaProducto2 tarjetaProducto3 ." ". tarjetaProducto4 tarjetaProducto5 tarjetaProducto6 ." ". tarjetaProducto7 tarjetaProducto8 tarjetaProducto9 ." ". tarjetaProducto10 tarjetaProducto11 tarjetaProducto12 .";
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 5% 30% 30% 30% 5%;
  justify-content: center; }

@media (max-width: 769px) {
  .tarjetaProducto {
    grid-template-areas: "tarjetaProducto1" "tarjetaProducto2" "tarjetaProducto3" "tarjetaProducto4" "tarjetaProducto5" "tarjetaProducto6" "tarjetaProducto7" "tarjetaProducto8" "tarjetaProducto9" "tarjetaProducto10" "tarjetaProducto11" "tarjetaProducto12";
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto);
    grid-row-gap: 5px; } }

.tarjetaProducto1 {
  grid-area: tarjetaProducto1; }

.tarjetaProducto2 {
  grid-area: tarjetaProducto2; }

.tarjetaProducto3 {
  grid-area: tarjetaProducto3; }

.tarjetaProducto4 {
  grid-area: tarjetaProducto4; }

.tarjetaProducto5 {
  grid-area: tarjetaProducto5; }

.tarjetaProducto6 {
  grid-area: tarjetaProducto6; }

.tarjetaProducto7 {
  grid-area: tarjetaProducto7; }

.tarjetaProducto8 {
  grid-area: tarjetaProducto8; }

.tarjetaProducto9 {
  grid-area: tarjetaProducto9; }

.tarjetaProducto10 {
  grid-area: tarjetaProducto10; }

.tarjetaProducto11 {
  grid-area: tarjetaProducto11; }

.tarjetaProducto12 {
  grid-area: tarjetaProducto12; }

header {
  grid-area: header; }

footer {
  grid-area: footer; }

.tituloPrincipal {
  grid-area: tituloPrincipal;
  display: flex;
  flex-direction: column;
  text-align: center; }

header {
  display: flex;
  flex-direction: column; }

.tarjetaProducto {
  flex-direction: column;
  text-align: center;
  align-content: center;
  margin-top: 20px; }

.btn--facebook {
  background-color: #5858ba69; }

.btn--instagram {
  background-color: #ff000071; }

.btn--tiktok {
  background-color: #0080005a; }

footer {
  background-color: #adff2f;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 15px; }

body {
  background-color: white;
  padding: 20px; }

main {
  overflow: hidden; }

/*------------css para header------------*/
/*--------NAVBAR--------------*/
.navbar {
  justify-items: space-evenly; }

/*-----------------FIN NAVBAR-------------*/
p {
  font-size: 20px; }

/*.row{text-align:center; margin:40px 40px 40px 40px;justify-items: space-evenly; justify-content: space-evenly;}*/
div {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #000000; }

.btn, .add {
  justify-items: center;
  width: 230px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  background-color: #000000;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #ffffff;
  border: solid 2px #000000; }
  .btn a, .add a {
    text-decoration: none;
    color: #ffffff; }
  .btn:hover, .add:hover {
    background-color: #adff2f; }

.add {
  background-color: #ffffff;
  border: solid 2px #000000;
  color: #000000;
  width: 180px; }

.carousel-item img {
  width: 100%; }

.card-body {
  border-radius: 45px; }
  .card-body button {
    flex: 1 1 auto;
    width: 180px; }

/*----------MIXIN PARA IMAGENES-------------*/
img {
  border-radius: 10px; }

.imgContainer {
  border-radius: 15px;
  max-width: 100%;
  border: solid 25px #adff2f; }

.bg-warning {
  text-align: center;
  border: 2px; }

h2 {
  font-size: 30px;
  text-align: center; }

/*h3{font-size: 25px;margin-top: 10px; text-align:center;}*/
.shadow-none {
  box-shadow: none; }

.shadow {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15); }

.shadow-lg {
  box-shadow: 3 1rem 5rem rgba(0, 0, 0, 0.175); }

.logo {
  box-shadow: none;
  border-radius: 0px; }

.logo2 {
  box-shadow: none;
  border-radius: 0px;
  animation: change 1.5s infinite alternate; }

/*@keyframes change{
    0% {transform: translatey(-10px);}
    100% {transform: translatey(10px);}
}*/
nav a {
  font-size: 20px;
  text-decoration: none;
  color: black; }

nav:hover {
  color: white;
  text-decoration: none; }

header li a {
  font-size: 20px; }

div button {
  justify-self: center; }

.op-1 {
  opacity: 10%; }

.op-2 {
  opacity: 20%; }

.op-3 {
  opacity: 30%; }

.op-4 {
  opacity: 40%; }

.op-5 {
  opacity: 50%; }

.op-6 {
  opacity: 60%; }

.op-7 {
  opacity: 70%; }

.op-8 {
  opacity: 80%; }

.op-9 {
  opacity: 90%; }

.op-10 {
  opacity: 100%; }

.cst, .cstCard, .csttxtCard, .noshadow, .cstForm, .cstProducto, header, footer {
  max-width: 100%;
  justify-content: center;
  align-content: center;
  border-radius: 15px; }

/*extend */
.cstCard, .csttxtCard, .noshadow, .cstForm, .cstProducto {
  /*background-color: $bgSecundario;*/
  color: #000000;
  padding: 0px;
  margin: 0px;
  max-width: 120rem; }
  .cstCard a, .csttxtCard a, .noshadow a, .cstForm a, .cstProducto a {
    text-decoration: none;
    color: #ffffff; }
  .cstCard img, .csttxtCard img, .noshadow img, .cstForm img, .cstProducto img {
    box-shadow: 0 0.5rem 0.5rem #0000006b;
    text-align: center; }

.csttxtCard {
  max-width: 40rem;
  margin: 40px;
  padding: 20px; }

.noshadow {
  box-shadow: none; }

.cstForm {
  max-width: 100%;
  justify-content: center;
  text-align: center;
  padding: 0%; }

.cstProducto {
  max-width: 100%;
  border: solid 10px #adff2f;
  box-shadow: none; }
