@mixin blogCard{
    /*background-color:$bgSecundario;*/
    box-shadow:0 0.5rem 0.5rem #00000026;
    justify-content:space-evenly ;
    align-content: center;
    border-radius: 15px;
    border: solid 10px $bgSecundario;

}
.cstBlog,header,footer{
    @include blogCard;
}
/*extend */
.cstCardReview{
    @extend .cstBlog;
    height:200px;
    padding: 10px;
    p{font-size: 15px;}
}
.cstCardForm{
    @extend .cstBlog;
    max-width:50rem;
    border:none;
    box-shadow: none;;
    margin-bottom:4rem;
}
.cstCardBlog{
    @extend .cstBlog;
    a{text-decoration: none;color:$colorTxt;};
    img{width: 29rem; height:15rem;padding:1rem 2rem 0rem 2rem;}
    color: $colorTxtN;
    padding:0px;
    margin-bottom:10px;
    height: 450px;
    h2{font-size: $h2;padding:2rem 2rem 0rem 2rem;}
    h3{font-size:$h3;padding: 0rem 2rem 0rem 2rem;}
}
.csttxtCardBlog{
    @extend .cstCardBlog;

    }
.indice{
    @extend .csttxtCardBlog;
    text-align: center;
    align-content: center;
    max-width: 28rem;
    max-height: 2.5rem;
    /*background-color: $bgList;*/
    justify-content:center;
    border: solid 5px $bgSecundario;
    margin-right: 30px;
    a{color:$colorTxtN;
        &:hover{border-bottom:solid 2px $colorTxtN;}}
    li{justify-items: center;}
    list-style-type:none;
}
ul{
    li{list-style-type: none;margin-right:10px;
        a{
            text-decoration: none;color:$colorTxtN;
        }}
}
@mixin titulo{
border: solid 4px $colorTxt;
max-width: 50%;
justify-content: center;
color:black;
background-color: $bgSecundario;
box-shadow: 0 0.5rem 0.5rem #00000026;
}
.titulo{
    @include titulo;
}