//map-get para header//

$header:(
    color:$bgSecundario,
    centro:center,
    border:5px,
    padding:0.5rem,
    margin:0px
);
header{
    background-color: map-get($header,color);
    text-align: map-get($header,centro);
    padding: map-get($header,padding);
    border-radius:map-get($header,border);
    margin:map-get($header,margin)
}
@mixin color-shadow-text{
    background-color:$bgSecundario;
    box-shadow:0 0.5rem 0.5rem #00000026;
    justify-items:center;
    border-radius: 15px;
    
}
.cstHeader{
    @include color-shadow-text;
}
.carrito-user{
    margin-top: 5px;
}
