@import"_colores";
@import"_font-size";
@import "_header";;
@import"_blog";
@import "_gridTIenda";
@import "_footer";


body{background-color:white;padding:20px;}
main{overflow: hidden;}
/*------------css para header------------*/
/*--------NAVBAR--------------*/
.navbar{justify-items:space-evenly;}
/*-----------------FIN NAVBAR-------------*/

p {font-size: 20px;}

/*.row{text-align:center; margin:40px 40px 40px 40px;justify-items: space-evenly; justify-content: space-evenly;}*/

//map-get para contenedores//
$box :(
    centro:center,
    margin: 0px,
    justify: center,
    align:center,
    txtColor: $colorTxtN,
    );   
div{
    text-align: map-get($box,centro);
    align-items:map-get($box,align);
    justify-content: map-get($box, justify);
    color:map-get($box, txtColor);
    border:map-get($box, border);
}
//-----------//MIXIN PARA BOTONES//--------------
@mixin btn{
    justify-items:center;
    width:180px;
    height:40px;
    font-size:15px;
    text-align:center;
    background-color:$colorButton;
    margin-bottom: 20px;
    border-radius: 5px;
    color:$colorTxt;
    a{text-decoration:none; color:$colorTxt;}
}
.btn{
    @include btn;
}
.add{
    @extend .btn;
    background-color: $colorTxt;
    border: solid 2px green;
    color:$colorButton;
}
//----------------------------------------------//
//-------------clases importantes a tener en cuenta--------------
.carousel-item{
    img{width:100%;}
}
.card-body{border-radius: 45px;
    button{flex: 1 1 auto; width: 180px;}
}


/*----------MIXIN PARA IMAGENES-------------*/
img{ border-radius: 10px;}
@mixin imgContainer{
    border-radius: 15px;
    max-width:100%;
    border: solid 25px $bgSecundario;
}
.imgContainer{
    @include imgContainer;
}

.bg-warning{text-align:center;border: 2px;}

h2{font-size: 30px;text-align: center; }
/*h3{font-size: 25px;margin-top: 10px; text-align:center;}*/
.shadow-none {box-shadow: none;}
.shadow {box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);}
.shadow-lg {box-shadow: 3 1rem 5rem rgba(0, 0, 0, 0.175);}
.logo{box-shadow: none;border-radius: 0px; }
.logo2{box-shadow: none;border-radius: 0px; animation: change 1.5s infinite alternate;
}
//---------//keyframes//---------------
/*@keyframes change{
    0% {transform: translatey(-10px);}
    100% {transform: translatey(10px);}
}*/
//---------------------------------------//
//----------//estiquetas importantes para header+ navegador//---------------
nav{
    a {font-size: 20px;text-decoration: none; color: black;}
        &:hover {color:white; text-decoration: none;}
}
header{
    li{
        a{font-size: 20px;}
    }
}
div{ 
    button{ justify-self: center; }
}
//------------------------------------------//
//------------//bucle para opacidad //----------------------
@for $opacity from 1 through 10 {
    .op-#{$opacity}{
        opacity:10% * $opacity;
    }
}
//---------------------------------------------------------//
//-------------//mixin para contenedores//--------------------------------
@mixin color-shadow-text{
    /*background-color:$bgSecundario;*/
    /*box-shadow:0 2px 0px #00000026;*/
    max-width: 100%;
    justify-content:center;
    align-content: center;
    border-radius:15px;
}
.cst,header,footer{
    @include color-shadow-text;
}
/*extend */
.cstCard{
    @extend .cst;
    /*background-color: $bgSecundario;*/
    a{text-decoration: none;color:$colorTxt;};
    img{box-shadow:0 0.5rem 0.5rem #0000006b;text-align:center}
    color: $colorTxtN;
    padding:0px;
    margin:0px;
    max-width: 120rem;
}
.csttxtCard{
    @extend .cstCard;
    max-width: 40rem;
    margin: 40px; 
    padding:20px;  
}
.noshadow{
    @extend .cstCard;
    box-shadow: none;
}
.cstForm{
    @extend .cstCard;
    max-width: 100%;
    justify-content: center;
    text-align: center;
    padding: 0%;
}
//--------------------------------------------------------------------------