@import"_colores";
@import"_font-size";
@import "_header";
@import "_gridTIenda";
@import "_footer";


body{background-color:white;
padding:20px;}
/*------------css para header------------*/
/*--------NAVBAR--------------*/
.navbar{justify-items: space-evenly;}
/*-----------------FIN NAVBAR-------------*/

p {font-size: 20px;}

/*.row{text-align:center; margin:40px 40px 40px 40px;justify-items: space-evenly; justify-content: space-evenly;}*/

//map-get para contenedores//
$box :(
    centro:center,
    margin: 0px,
    justify: center,
    align:center,
    txtColor: $colorTxtN,
    );   
div{
    text-align: map-get($box,centro);
    align-items:map-get($box,align);
    justify-content: map-get($box, justify);
    color:map-get($box, txtColor)
}

.btn{display:inline-block; justify-content:center; justify-items:center; text-align:center;font-size: 15px;
    input{display:inline-block;width:180px; height: 40px; justify-content:center; 
        justify-items:center; text-align:center;font-size: 15px;}
    }
.carousel-item{
    img{width:100%;}
}
.card-body{border-radius: 45px;
    button{flex: 1 1 auto; width: 180px;}
}
img{ border-radius: 10px;}
h2{font-size: 30px;text-align:center;}
/*h3{font-size: 25px;margin-top: 10px; text-align:center;}*/
.shadow {box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);}
.shadow-lg {box-shadow: 3 1rem 5rem rgba(0, 0, 0, 0.175);}
.logo{box-shadow: none;border-radius: 0px; }
.logo2{box-shadow: none;border-radius: 0px; animation: change 1.5s infinite alternate;
}

@keyframes change{
    0% {transform: translatey(-10px);}
    100% {transform: translatey(10px);}
}
.shadow-none {box-shadow: none;}


nav{
    a {font-size: 20px;text-decoration: none; color: black;}
        &:hover {color:white; text-decoration: none;}
}

.row2{ align-content: center;margin-top: 0px; border-radius:0px;
    img{margin-top: 20px; border-radius:0px; }
}

header{
    li{
        a{font-size: 20px;}
    }
}
div{ 
    button{ justify-self: center; }
}


//bucle para opacidad //

@for $opacity from 1 through 10 {
    .op-#{$opacity}{
        opacity:10% * $opacity;
    }
}

//mixin//
@mixin color-shadow-text{
    background-color:$bgSecundario;
    box-shadow:0 0.5rem 0.5rem #00000026;
    justify-content:space-evenly ;
    margin:10px 0px 10px 0px;
    align-content: center;
    border-radius: 15px;

}
.cst,header,footer{
    @include color-shadow-text;
}
/*extend */
.cstCard{
    @extend .cst;
    background-color: #9898dc;
    a{text-decoration: none;color:$colorTxt;};
    margin: 20px 20px 20px 20px;
    img{box-shadow:0 0.5rem 0.5rem #0000006b;}
}
.imgWelcome{
    @extend .cst;
    max-width: 100%;
    align-self: center;
    
    background-color: #ffffff;
    box-shadow:none;
    
}
/*position-absolute top-50 start-50 translate-middle*/